:root {
        --component-footer-bg-color: #1d0c08;
        --component-trust-bg-color: #1d0c08;
        --default-text-color: #D4D4D4;
        --footer-text-color: #717170;
        --game-info-tile-text-color: #FFFFFF;
        --games-filter-heading-color: #FFFFFF;
        --games-filters-secondary-color: #FFFFFF;
        --games-svg-game-categories-icon-bg-color: #333333;
        --games-svg-select-icon-bg-color: #FFFFFF;
        --hamburger-menu-icon-color: #f0c307;
        --home-filter-color: #9CA3AF;
        --hover-accent-color: #d7a52c;
        --leaderboard-rank-bg-color: #171717;
        --leaderboard-rank-text-color: #FFFFFF;
        --leaderboard-win-section-bg-color: #1E1E1E;
        --login-bg-color: #1d0c08;
        --logout-home-seo-links-color: #9CA3AF;
        --main-bg-color: #1d0c08;
        --navbar-cta-bg-color: #0009;
        --navbar-cta-border-color: #FFFFFF;
        --navbar-cta-text-color: #FFFFFF;
        --offer-text-color: #FFFFFF;
        --primary-accent-color: #f3bb1a;
        --primary-cta-btn-color: #EAB308;
        --primary-cta-btn-text-color: #000000;
        --primary-cta-hover-bg-color: #FBBF24;
        --primary-cta-hover-disabled-bg-color: #FCD34D;
        --primary-light-color: #d4d4d4;
        --promotion-slide-text-color: #FFFFFF;
        --search-box-bg-color: #262626;
        --search-box-border-focus-color: #9CA3AF;
        --search-box-text-color: #FFFFFF;
        --search-icon-color: #EAB308;
        --secondary-cta-bg-color: #EAB308;
        --secondary-cta-text-color: #000000;
        --secondary-light-color: #290f0d;
        --secondary-text-color: #ffffff;
        --sidebar-bg-color: #290f0d;
        --sidebar-icon-color: #FFFFFF;
        --sidebar-item-hover-bg-color: #374151;
        --sidebar-text-color: #ffffff;
        --swiper-navigation-color: #ffffff;
        --swiper-pagination-bullet-inactive-color: #ffffff;
        --swiper-pagination-buttons-color: #ffffff;
        --swiper-pagination-color: #ffffff;
        --tournament-default-tile-bg-color: #262626;
        --tournament-finished-tile-bg-color: #A3A3A3;
        --tournament-leaderboard-bg-color: #525252;
        --tournament-player-count-bg-color: #262626;
        --tournament-started-tile-bg-color: #60A5FA;
        --user-avatar-icon-bg-color: #374151;
        --win-car-page-bg-color: #010413;
    }